body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  padding-top: 110px;
}
.home-left-container {
  padding-left: 5%;
}

.home-title {
  font-size: 60px;
  font-weight: bold;
}

.card-home-right {
  background: rgb(170, 34, 195);
  background: linear-gradient(
    0deg,
    rgba(170, 34, 195, 1) 0%,
    rgba(253, 45, 94, 1) 100%
  );
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.market-overview-headline,
.market-ov-buy,
.market-ov-sell {
  display: flex;
}
.market-overview-headline .text-sell {
  color: red;
  margin: 0 15px;
}
.market-overview-headline .text-buy {
  color: green;
  margin: 0 10px;
}

.market-table::-webkit-scrollbar {
  display: none;
}

.sidebar-items p {
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.sidebar-items .sidebar-icons {
  margin-right: 5px;
}

.market-table .text-price-red {
  color: red;
}

.market-table .text-price-green {
  color: green;
}
